@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script&family=Inter:wght@100;300;400;700&family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* color */
.red-text {
  color: #f00;
}

.white-text {
  color: #fff;
}

/* button style */
.btn {
  border-radius: 8px;
  background: #f00;
}

/* main section style */
.main {
  width: 82%;
  max-width: 1320px;
  height: 600px;
  border-radius: 16px;
}
/* banner with background image */

.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-position: center;
  background-size: cover;
  margin: 50px auto;
  text-align: center;
  font-family: "Merriweather", serif;
}

/* banner text */

.banner .banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 177px;
  color: #fff;
}

.banner .banner-text h6 {
  font-size: 32px;
  font-weight: 400;
  width: 260px;
  max-height: 40px;
}

.banner .banner-text p {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 630px;
  max-height: 190px;
  margin-top: 16px;
}

/* section deals container */

.holiday-deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin: 151px 0px;
}

.holiday-deals .deals-img {
  max-width: 803px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0px;
}

.holiday-deals .deals-text {
  max-width: 410px;
  text-align: center;
  font-family: Inter;
}
.holiday-deals .deals-text h1 {
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.holiday-deals .deals-text h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  height: 29px;
}

.holiday-deals .deals-text h5 {
  font-size: 48px;
  font-weight: 700;
  height: 58px;
}

/* join now section */

.join-now-banner {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin: 350px auto 50px;
  align-items: center;
}

.join-now-banner img {
  margin-right: 138px;
}

.join-now-text {
  font-family: Merriweather;
  text-align: left;
  margin-left: 126px;
}

.join-now-text h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.join-now-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* button */
.join-now-btn {
  background: none;
  border: none;
  margin: 32px 0px 15px 32px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.1s ease-in;
}

.join-now-btn:hover {
  color: rgb(151, 144, 144);
  cursor: pointer;
}

/* place section style */

.place-banner {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  margin: 120px auto 50px;
  align-items: center;
  text-align: center;
}

.place-banner .place {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin: 100px auto 0px;
}

.btn-style {
  padding: 16px 32px;
  font-size: 20px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  margin: 104px auto 0px;
  transition: all 0.1s ease-in;
}

.btn-style:hover {
  background-color: rgb(210, 18, 18);
  cursor: pointer;
}

/* gift container style */
.container {
  width: 82%;
  max-width: 1320px;
  height: auto;
  border-radius: 16px;
  margin: 50px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

/* gift text style */
.gift-text h6 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 22px;
}

.gift-text h4 {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.gift-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}

/* images style */
.gift-images {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.gift {
  display: flex;
  justify-content: space-between;
}

.gift img {
  max-width: 32.3%;
  height: auto;
  margin-bottom: 24px;
}

/* subscribe section */
.subscribe {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 96px auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 80px; */
}

.subscribe .sub-image {
  width: 150px;
  height: 150px;
}

.subscribe .sub-text h3 {
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.subscribe .sub-text p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.subscribe .sub-input [type="email"] {
  color: rgba(7, 2, 17, 0.3);
  padding: 25px 0px 20px 30px;
  border-radius: 50px 0px 0px 50px;
  width: 500px;
}
.subscribe .sub-input .sub-btn {
  font-size: 18px;
  width: 210px;
  height: 65px;
  border-radius: 0px 50px 50px 0px;
  font-family: Inter;
  font-weight: 600;
  text-transform: capitalize;
  background: #f00;
  margin-left: -38px;
}
